.portal-header-wrapper {
  background-image: linear-gradient(#f9f9f9, #f2f2f2);
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
  z-index:10;
  height:40px;
  padding-top:5px;
  font-size:15px;
  color:#404040;
}
.portal-header-wrapper a {
  font-size:15px;
  color:#404040;
}

