<div class="portal-header-wrapper">
  <div class="row">
    <div class="col"></div>
    <div class="col-1">

    </div>
    <div class="col-6 portal-header-menu">
      <a routerLink="">
        <i class="fa fa-home" aria-hidden="true"></i> Accueil
      </a>
      <a routerLink="">
        <i class="fa fa-users" aria-hidden="true"></i> Communauté
      </a>
      <a routerLink="">
        <i class="fa fa-television" aria-hidden="true"></i> Streaming
      </a>
      <a routerLink="">
        <i class="fa fa-comments" aria-hidden="true"></i> Forums
      </a>
    </div>
    <div class="col-3 portal-header-user">
     <a routerLink="/subscribe">
       <i class="fa fa-user-plus" aria-hidden="true"></i> Inscription
     </a>
      &nbsp;
     <a routerLink="/signin">
      <i class="fa fa-sign-in" aria-hidden="true"></i> Connexion
     </a>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
      <div class="col">
      <div class="portal-header-sponsors">
        <div class="row">
          <div class="col"></div>
          <div class="col-8">
            <a href="#"><img src="../../assets/img/seagate.png" width="150"/></a>
            <a href="#"><img src="../../assets/img/steelseries.png" width="150"/></a>
          </div>
          <div class="col"></div>
      </div>
    </div>
  </div>
</div>





